

div {
    background-color: grey;
    text-align: justify;
}

h1 {
  color: black;
  font-size: 3em;
}


#p1, #p2, #p3 {
  border: 5px solid black;
  box-sizing: border-box;
  font-weight: bold;
  margin:3px;
  font-size: 15px;
}

#m1 {
  font-size: 25px;
  background-color: pink;
  border: 5px solid black;
  border-top-width: 0px;
  border-right-width: 0px;
  width: 160px;
  height: 35px;
  float: right;
  clear: left;
}
#m2 {
  font-size: 25px;
  color: White;
  background-color: red;
  border: 5px solid black;
  border-top-width: 0px;
  border-right-width: 0px;
  width: 160px;
  height: 35px;
  float: right;
  clear: left;
}

#m3 {
  font-size: 25px;
  background-color: yellow;
  border: 5px solid black;
  border-top-width: 0px;
  border-right-width: 0px;
  width: 160px;
  height: 35px;
  float: right;
  clear: left;
}


@media (min-width: 922px) {
  #p1, #p2, #p3 {
    width: 31%;
    float: right;
    }
  }

@media (min-width: 768px) and (max-width: 992px) {
  #p1 {
    width: 48.5%;
    float: left;
  }
  #p2 {
    width: 48.5%;
    float: right;
  }
  #p3 {
    width: 100%;
    float: center;
    clear:both;
    margin-top: 20px;
  }

}

@media (min-width: 1px) and (max-width: 768px) {
  #p1, #p2, #p3 {
      width: 100%;
    }
  }
